[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
Django = "==2.1"
Pillow = "*"
django-crispy-forms = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.7"
