{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>Django ❤️ Vue</title>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <a class="navbar-brand" href="/">
                    Django ❤️ Vue
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Login' %}"> Login </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Register' %}"> Register </a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" v-pre>
                                {{ user.username }} <span class="caret"></span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'Logout' %}">
                                    Logout
                                </a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <main class="py-4">
            {% block content %}{% endblock %}
        </main>
    </div>



    <!-- Scripts -->
    <script src="{% static 'js/app.js' %}"></script>
    <script>
        {% if messages %}
        let message_queue = []
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        message_queue.push({ 'type': 'success', 'text': '{{ message }}' })
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        message_queue.push({ 'type': 'error', 'text': '{{ message }}' })
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        message_queue.push({ 'type': 'info', 'text': '{{ message }}' })
        {% endif %}
        {% endfor %}
        messages(message_queue)
        {% endif %}
    </script>
</body>

</html>